HTML {
    ขนาดตัวอักษร: 11px;
}

ร่างกาย {
  พื้นหลัง: -webkit-linear-gradient (200deg, # 00C4FF, # 9D1BB2);
  พื้นหลัง: linear-gradient (205deg, # 00C4FF, # 9D1BB2);
  ความสูง: 100vh;
  กำไรขั้นต้น: 0; 
  การขยาย: 0;
}

.dark {
  พื้นหลัง: # 24252A;
}

.flex {
  ความสูงขั้นต่ำ: 20vh;
  แสดงผล: ดิ้น;
  จัดเรียงรายการ: กึ่งกลาง;
  ปรับเนื้อหา: ศูนย์;
}

#imag { 
    ความกว้างสูงสุด: 25%; 
    ความสูง: อัตโนมัติ; 
}

.button {
    สีพื้นหลัง: #bababa; /* เขียว */
    เส้นขอบ: ไม่มี;
    สี: ขาว
    การขยาย: 8px 42px;
    จัดเรียงข้อความ: กึ่งกลาง;
    การตกแต่งข้อความ: ไม่มี;
    จอแสดงผล: บล็อกแบบอินไลน์;
    ตระกูลฟอนต์: "Open Sans", sans-serif;
    ขนาดตัวอักษร: 16px;
    กำไร: 1px 1px;
    -webkit-transition-duration: 0.4s; / * Safari * /
    การเปลี่ยนระยะเวลา: 0.4 วินาที
    เคอร์เซอร์: ตัวชี้;
}

.button6 {
    สีพื้นหลัง: # 212121;
    สี: ขาว
    ความกว้าง: 250px;
    รัศมี - ชายแดน: 6px;
    เส้นขอบ: 2px solid # 212121;
}

.button6: โฮเวอร์ {
    สีพื้นหลัง: โปร่งใส
    สีดำ;
    กล่องเงา: 0 12px 16px 0 rgba (0,0,0,0.24), 0 17px 50px 0 rgba (0,0,0,0.19);
}

.button5 {
    สีพื้นหลัง: # 3f3f3f;
    สีดำ;
    ความกว้าง: 250px;
    รัศมี - ชายแดน: 6px;
    เส้นขอบ: 2px solid # 3f3f3f;
}

.button5: โฮเวอร์ {
    สีพื้นหลัง: โปร่งใส
    สี: ขาว
    กล่องเงา: 0 12px 16px 0 rgba (0,0,0,0.24), 0 17px 50px 0 rgba (0,0,0,0.19);
}

.button4 {
    สีพื้นหลัง: # 555555;
    สี: ขาว
    ความกว้าง: 250px;
    รัศมี - ชายแดน: 6px;
    เส้นขอบ: 2px solid # 555555;
}

.button4: โฮเวอร์ {
    สีพื้นหลัง: โปร่งใส
    สีดำ;
    กล่องเงา: 0 12px 16px 0 rgba (0,0,0,0.24), 0 17px 50px 0 rgba (0,0,0,0.19);
}

.button3 {
    สีพื้นหลัง: # 7c7c7c;
    สีดำ;
    ความกว้าง: 250px;
    รัศมี - ชายแดน: 6px;
    เส้นขอบ: 2px solid # 7c7c7c;
}

.button3: โฮเวอร์ {
    สีพื้นหลัง: โปร่งใส
    สี: ขาว
    กล่องเงา: 0 12px 16px 0 rgba (0,0,0,0.24), 0 17px 50px 0 rgba (0,0,0,0.19);
}

.button2 {
    สีพื้นหลัง: # a5a5a5;
    สี: ขาว
    ความกว้าง: 250px;
    รัศมี - ชายแดน: 6px;
    เส้นขอบ: 2px solid # a5a5a5;
}

.button2: โฮเวอร์ {
    สีพื้นหลัง: โปร่งใส
    สีดำ;
    กล่องเงา: 0 12px 16px 0 rgba (0,0,0,0.24), 0 17px 50px 0 rgba (0,0,0,0.19);
}

.button1 {
    สีพื้นหลัง: #cccccc;
    สีดำ;
    ความกว้าง: 250px;
    รัศมี - ชายแดน: 6px;
    เส้นขอบ: 2px solid #cccccc;
}

.button1: โฮเวอร์ {
    สีพื้นหลัง: โปร่งใส
    สี: ขาว
    กล่องเงา: 0 12px 16px 0 rgba (0,0,0,0.24), 0 17px 50px 0 rgba (0,0,0,0.19);
}

. ตอบสนอง {
    ความกว้างสูงสุด: 100%;
    ความสูง: อัตโนมัติ;
}

.layang {
    ตำแหน่ง: ถาวร
    ขวา: 5px;
    ด้านบน: 10px;
}

@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
*
*::ก่อน,
* :: หลัง {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  ขนาดกล่อง: ชายแดนกล่อง;
}

a.bttn {
  สี: ขาว
  การตกแต่งข้อความ: ไม่มี;
  -webkit-transition: 0.3s ทั้งหมดง่าย;
  การเปลี่ยนภาพ: 0.3s ทำให้ทุกคนง่ายขึ้น
}
a.bttn: โฮเวอร์ {
  สี: # 2376fc;
}
a.bttn: โฟกัส {
  สี: # 2376fc;
}

.bttn {
  ตระกูลฟอนต์: "Open Sans", sans-serif;
  ขนาดตัวอักษร: 20px;
  ระยะห่างตัวอักษร: 3px;
  การแปลงข้อความ: ตัวพิมพ์ใหญ่;
  จอแสดงผล: บล็อกแบบอินไลน์;
  จัดเรียงข้อความ: กึ่งกลาง;
  ความกว้าง: 270px;
  น้ำหนักตัวอักษร: ตัวหนา;
  การขยาย: 5px 0px;
  เส้นขอบ: 3px solid # 1bf992;
  รัศมีเส้นขอบ: 1px;
  ตำแหน่ง: ญาติ;
  box-shadow: 0 2px 10px rgba (0, 0, 0, 0.16), 0 3px 6px rgba (0, 0, 0, 0.1);
}
.bttn: ก่อน {
  -webkit-transition: 0.5s ทั้งหมดง่าย;
  การเปลี่ยนแปลง: 0.5s ทั้งหมดได้อย่างง่ายดาย;
  ตำแหน่ง: สัมบูรณ์;
  ด้านบน: 0;
  เหลือ: 50%;
  ขวา: 50%;
  ด้านล่าง: 0;
  ความทึบ: 0;
  เนื้อหา: '';
  สีพื้นหลัง: # 1bf992;
  ดัชนี z: -2;
}
.bttn: โฮเวอร์: ก่อนหน้า {
  -webkit-transition: 0.5s ทั้งหมดง่าย;
  การเปลี่ยนแปลง: 0.5s ทั้งหมดได้อย่างง่ายดาย;
  ซ้าย: 0;
  ขวา: 0;
  ความทึบ: 1;
}
.bttn: โฟกัส: ก่อน {
  การเปลี่ยนแปลง: 0.5s ทั้งหมดได้อย่างง่ายดาย;
  ซ้าย: 0;
  ขวา: 0;
  ความทึบ: 1;
}
